<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32C.NET" version="1.0.5.0" />
  <package id="DnsClient" version="1.2.0" />
  <package id="MongoDB.Bson" version="2.9.1" />
  <package id="MongoDB.Driver" version="2.9.1" />
  <package id="MongoDB.Driver.Core" version="2.9.1" />
  <package id="sharpcompress" version="0.23.0" />
  <package id="Snappy.NET" version="1.1.1.8" />
  <package id="websocket-sharp.clone" version="3.0.0" />
  <package id="YamlDotNet" version="6.1.2" />
</packages>